In [1]:
print('hello world')

hello world

In [2]:
2+3

5

In [3]:
a = 2
b = 12.67
c = 12 + 67j

In [4]:
print(a)
print(b)
print(c)

2
12.67
(12+67j)

In [5]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [6]:
string1 = "Riya"
print(string1)
print(type(string1))

Riya
<class 'str'>

In [7]:
list_str = list(string1)
print(list_str)

['R', 'i', 'y', 'a']

In [8]:
list_attend = ["Riya", "Jacob", "Bibhuti", "Mounika"]
print(list_attend)

['Riya', 'Jacob', 'Bibhuti', 'Mounika']

In [9]:
# lists are mutable
list_num = ["One", 2, "Three", 3, 4]
print(list_num)

['One', 2, 'Three', 3, 4]

In [10]:
# tuples are immutable
tuple_str = tuple(string1)
print(tuple_str)

('R', 'i', 'y', 'a')

In [11]:
tuple_num = ("One", 1, "Two", 2 , 3)
print(tuple_num)

('One', 1, 'Two', 2, 3)

In [12]:
list_num.append(5)

In [13]:
print(list_num)

['One', 2, 'Three', 3, 4, 5]

In [14]:
tuple_num2 = tuple_num + tuple('trying to add new element')

In [15]:
tuple_num2

('One',
 1,
 'Two',
 2,
 3,
 't',
 'r',
 'y',
 'i',
 'n',
 'g',
 ' ',
 't',
 'o',
 ' ',
 'a',
 'd',
 'd',
 ' ',
 'n',
 'e',
 'w',
 ' ',
 'e',
 'l',
 'e',
 'm',
 'e',
 'n',
 't')

In [16]:
tuple_num2.count(' ')

4

In [17]:
tuple_num2[0]

'One'

In [18]:
tuple_num2[-1::-1]

('t',
 'n',
 'e',
 'm',
 'e',
 'l',
 'e',
 ' ',
 'w',
 'e',
 'n',
 ' ',
 'd',
 'd',
 'a',
 ' ',
 'o',
 't',
 ' ',
 'g',
 'n',
 'i',
 'y',
 'r',
 't',
 3,
 2,
 'Two',
 1,
 'One')

In [19]:
len(tuple_num2)

30

In [20]:
# tuples are immutable
tuple_num2.index('t',6,30)

12

In [21]:
list_attend.count('Jacob')
list_attend.append(['Harsh', 'Jacob'])

In [22]:
list_attend

['Riya', 'Jacob', 'Bibhuti', 'Mounika', ['Harsh', 'Jacob']]

In [23]:
# lists are mutable
list_attend.pop()
list_attend

['Riya', 'Jacob', 'Bibhuti', 'Mounika']

In [24]:
list_attend.append('Harsh')
list_attend.append('Jacob')

In [25]:
list_attend

['Riya', 'Jacob', 'Bibhuti', 'Mounika', 'Harsh', 'Jacob']

In [26]:
list_attend.count('Jacob')

2

In [27]:
list_attend.index('Mounik')

ValueError: 'Mounik' is not in list

In [87]:
len(list_attend)

6

In [88]:
list_attend.clear()
list_attend

[]

In [89]:
list_attend = ['Riya', 'Jacob', 'Bibhuti', 'Mounika', 'Harsh', 'Jacob']

In [90]:
list_attend

['Riya', 'Jacob', 'Bibhuti', 'Mounika', 'Harsh', 'Jacob']

In [91]:
list_attend.pop(1)
list_attend

['Riya', 'Bibhuti', 'Mounika', 'Harsh', 'Jacob']

In [92]:
list_attend.remove('Mounika')
list_attend

['Riya', 'Bibhuti', 'Harsh', 'Jacob']

In [94]:
list_attend.pop(-1)

'Jacob'

In [95]:
list_attend

['Riya', 'Bibhuti', 'Harsh']

In [96]:
list_attend.remove('Manish')

ValueError: list.remove(x): x not in list

In [98]:
list_attend

['Riya', 'Bibhuti', 'Harsh']

In [103]:
list_attendees = ["Manish", "Bijay", "Rishi", "Shivani", "Akhilesh", "Meghna"]
list_attendees

['Manish', 'Bijay', 'Rishi', 'Shivani', 'Akhilesh', 'Meghna']

In [104]:
list_attendees.extend(list_attend)

In [105]:
list_attendees

['Manish',
 'Bijay',
 'Rishi',
 'Shivani',
 'Akhilesh',
 'Meghna',
 'Riya',
 'Bibhuti',
 'Harsh']

In [106]:
list_attendees.reverse()

In [107]:
list_attendees

['Harsh',
 'Bibhuti',
 'Riya',
 'Meghna',
 'Akhilesh',
 'Shivani',
 'Rishi',
 'Bijay',
 'Manish']

In [110]:
list_attendees.sort(reverse=True)

In [111]:
list_attendees

['Shivani',
 'Riya',
 'Rishi',
 'Meghna',
 'Manish',
 'Harsh',
 'Bijay',
 'Bibhuti',
 'Akhilesh']

Sequence Types:
Which of the following is not a sequence type in Python?

a) List
b) Tuple
c) Set
d) String
answer: c

What will be the output of the following code?

my_list = [1, 2, 3, 4]
print(my_list[1:3])
a) [1, 2]
b) [2, 3]
c) [1, 2, 3]
d) [2, 3, 4]
answer: b

Which method is used to add an item to the end of a list?

a) insert()
b) append()
c) extend()
d) add()
answer: b

What will be the output of the following code?

tuple_example = (1, 2, 3)
tuple_example[1] = 4
print(tuple_example)
a) (1, 4, 3)
b) (1, 2, 3)
c) Error, tuples are immutable
d) (4, 2, 3)
answer: c

Which of the following is a mutable sequence type in Python?

a) String
b) Tuple
c) List
d) None of the above
answer: c

Numeric Types:
Which of the following is the correct result of dividing 7 by 2 in Python 3?

a) 3
b) 3.0
c) 3.5
d) 4
answer: c

Which of the following Python types would store the value 3.14?

a) int
b) float
c) complex
d) str
answer: b

What will be the output of the following code?

x = 5
y = 2
print(x // y)
a) 2.5
b) 3
c) 2
d) 2.0
answer: c

How do you convert a float to an integer in Python?

a) int(float_value)
b) float(int_value)
c) round(float_value)
d) str(float_value)
answer: a

Which of the following is used to calculate the square root of a number in Python?

a) sqrt()
b) pow()
c) round()
d) math.sqrt()
answer: d

In [133]:
list_num = list(range(-1,-10,-1))
list_num

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

In [125]:
len(list_num)

9

In [33]:
str1 = "this is an \"example\" string with single qoutes"
word = "is"
str1.find(word,6)

-1

In [35]:
str1.index(word, 1)

2

In [163]:
str1.capitalize()

'This is an "example" string with single qoutes'

In [167]:
str1[:6:2]

'ti '

In [169]:
st1 = 'Harsh'
st2 = 'harsh'
st1.casefold() == st2

True

In [170]:
st2 = 'Akhilesh'
st1 = 'Harsh'
age1 = '25'
age2 = '26'
print(st1+" "+age1)
print(st2+" "+age2)

Harsh 25
Akhilesh 26

In [171]:
max_ch =10
st1 = st1.center(10)
st2 = st2.center(10)
print(st1+" "+age1)
print(st2+" "+age2)

  Harsh    25
 Akhilesh  26

In [173]:
str1.count("z")

0

In [29]:
str_rupee = "0x20B9"
# str_rupee = "\xe2\x82\xb9"

In [31]:
print(str_rupee)

0x20B9

In [37]:
str1.upper()

'THIS IS AN "EXAMPLE" STRING WITH SINGLE QOUTES'

In [38]:
str1.lower()

'this is an "example" string with single qoutes'

In [39]:
str1.title()

'This Is An "Example" String With Single Qoutes'

In [42]:
filename = "my_assignment_file.txt"
filename.endswith("_file.txt")

True

In [55]:
str1="""x=10
if x == 0:
\tprint('yes')
else:
\tprint('no')"""
print(str1.expandtabs(4))

x=10
if x == 0:
    print('yes')
else:
    print('no')

In [56]:
str1

"x=10\nif x == 0:\n\tprint('yes')\nelse:\n\tprint('no')"

In [59]:
str1.expandtabs(2)

"x=10\nif x == 0:\n  print('yes')\nelse:\n  print('no')"

In [65]:
test_string = "today is {}. date: {}"
week_day = 'friday'
date = '2025-02-14'

In [66]:
test_string.format(week_day,date)

'today is friday. date: 2025-02-14'

In [67]:
test_string = f"today is {week_day}. date: {date}"

In [68]:
test_string

'today is friday. date: 2025-02-14'

In [91]:
per = 0.3882767
example_num = "test percentage = {:.2%}"
example_num.format(per)

'test percentage = 38.83%'

In [107]:
# should only accept mobile numbers
# - only numeric characters ✓
# - it should have ten digits ✓
# - it should have county code (+91) ✓
input_field = input("Enter a number:")
input_field = input_field.strip()
if input_field[3:].isdecimal() and len(input_field[3:]) == 10 and input_field.startswith('+91'):
    print("valid number")
else:
    print("invalid number")

valid number

In [102]:
"+911234567890"[3:].isdecimal()

True

In [103]:
len("+911234567890"[3:])

10

In [ ]:
# join
# split
# replace

In [122]:
week_day_list = ('sat','sun','mon','tue','wed','thu','fri')

week_day_str = '|'.join(week_day_list)
print(type(week_day_str))
print(week_day_str)

<class 'str'>
sat|sun|mon|tue|wed|thu|fri

In [124]:
week_day_list1 = week_day_str.split('|',2)
print(type(week_day_list1))
print(week_day_list1)

<class 'list'>
['sat', 'sun', 'mon|tue|wed|thu|fri']

In [125]:
week_day_str = week_day_str.replace('sat','saturday')
print(week_day_str)

saturday|sun|mon|tue|wed|thu|fri

In [126]:
week_day_str = week_day_str.replace('sun','sunday')
week_day_str

'saturday|sunday|mon|tue|wed|thu|fri'

In [127]:
week_day_str = week_day_str.replace('sun','sunday')
week_day_str

'saturday|sundayday|mon|tue|wed|thu|fri'

In [128]:
week_day_str = week_day_str.replace('sundayday','sunday')
week_day_str

'saturday|sunday|mon|tue|wed|thu|fri'

In [129]:
week_day_str = week_day_str.replace('year','sunday')
week_day_str

'saturday|sunday|mon|tue|wed|thu|fri'

# Dictionay

In [176]:
# my_first_dict = {}
my_first_dict = dict()
print(type(my_first_dict))

<class 'dict'>

In [177]:
my_first_dict = {0:"Saturday", 1:"Sunday", 2:"Monday", 3:"Tuesday", 4:"Wednesday", 5:"Thursday", 6:["Friday"]}

In [150]:
print(my_first_dict[2])
print(my_first_dict)

Monday
{0: 'Saturday', 1: 'Sunday', 2: 'Monday', 3: 'Tuesday', 4: 'Wednesday', 5: 'Thursday', 6: ['Friday']}

In [178]:
my_first_dict[6] = 'Friday'

In [154]:
my_first_dict

{0: 'Saturday',
 1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday'}

In [159]:
key = 7
if key in my_first_dict:
    print(my_first_dict[key])

In [185]:
print(my_first_dict.get(7,"Invalid day"))

Invalid day

In [160]:
my_first_dict[-1]="Invalid day"

In [191]:
my_first_dict.update({-1 : "Invalid day"})

In [192]:
my_first_dict

{0: 'Saturday',
 1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 -1: 'Invalid day'}

In [161]:
my_first_dict

{0: 'Saturday',
 1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 -1: 'Invalid day'}

In [186]:
x = my_first_dict.keys()
type(x)
print(tuple(x))

(0, 1, 2, 3, 4, 5, 6)

In [187]:
x = my_first_dict.items()
type(x)
print(tuple(x))

((0, 'Saturday'), (1, 'Sunday'), (2, 'Monday'), (3, 'Tuesday'), (4, 'Wednesday'), (5, 'Thursday'), (6, 'Friday'))

In [188]:
x = my_first_dict.values()
type(x)
print(tuple(x))

('Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [193]:
my_first_dict.clear()
my_first_dict

{}

In [194]:
my_first_dict = {0: 'Saturday',
 1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 -1: 'Invalid day'}

In [196]:
my_first_dict.fromkeys([0,1,2],"first three natural numbers")

{0: 'first three natural numbers',
 1: 'first three natural numbers',
 2: 'first three natural numbers'}

In [197]:
my_first_dict.pop(0)

'Saturday'

In [198]:
my_first_dict

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 -1: 'Invalid day'}

In [204]:
key = 0
if key in my_first_dict:
    print(my_first_dict.pop(key))
else:
    print("key does not exist")

key does not exist

In [201]:
my_first_dict.popitem()

(-1, 'Invalid day')

In [207]:
my_first_dict1 = my_first_dict.copy()

In [208]:
my_first_dict1

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday'}

In [209]:
my_first_dict2 = my_first_dict

In [210]:
my_first_dict2

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday'}

In [211]:
my_first_dict[0] = "Saturday"

In [220]:
my_first_dict

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 0: 'Saturday',
 -1: 'Invalid day'}

In [212]:
my_first_dict1

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday'}

In [213]:
my_first_dict2

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 0: 'Saturday'}

In [219]:
my_first_dict.setdefault(-1,"Invalid day")

'Invalid day'

# Boolean

Boolean word comes from George Bool. He is the person responsible for coming up with Boolean algebra. 
In logic, we only have either true statements or false statements. 

true = 1
false = 0
## AND
statement1: earth revolves around sun (true)
statement2: earth is flat (false)

statement3: statement1 *AND* statement2
    -> earth revolves around sun and earth is flat (false)

statement1: earth revolves around sun (true)
statement2: earth is round (true)

statement3: statement1 *AND* statement2
    -> earth revolves around sun and earth is round (true)

statement1: sun revolves around earth (false)
statement2: earth is flat (false)

statement3: statement1 *AND* statement2
    -> sun revolves around earth and earth is flat (false)

## OR
statement1: earth revolves around sun (true)
statement2: earth is flat (false)

statement3: statement1 *OR* statement2
    -> either earth revolves around sun or earth is flat (true)

statement1: earth revolves around sun (true)
statement2: earth is round (true)

statement3: statement1 *OR* statement2
    -> either earth revolves around sun or earth is round (true)

statement1: sun revolves around earth (false)
statement2: earth is flat (false)

statement3: statement1 *OR* statement2
    -> either sun revolves around earth or earth is flat (false)

## NEGATE
statement1: earth is round (true)

statement3: *NEGATE* statement1
    -> earth is flat (false)

statement1: earth is flat (false)

statement3: *NEGATE* statement1
    -> earth is round (true)

In [222]:
type(True)

bool

In [223]:
type(False)

bool

In [224]:
x = False
type(x)

bool

In [229]:
x = ""
bool(x)

False

In [231]:
if x:
    print("it is not an empty string")
if not x:
    print("it is an empty string")

it is an empty string

In [233]:
x = 0
bool(x)

False

In [245]:
x = -838392.009
bool(x)

True

In [247]:
x = ['this','is','a list']
bool(x)

True

In [248]:
# implicit type conversion
if x:
    print("not and empty list")

not and empty list

In [249]:
# explicit type conversion
if bool(x):
    print("not and empty list")

not and empty list

In [250]:
x = []
bool(x)

False

In [251]:
x = ()
bool(x)

False

# SET

In [13]:
my_first_set = set()
my_first_set

set()

In [16]:
my_first_set.add(1729)
my_first_set.add(13)
my_first_set

{13, 1729}

In [260]:
type(my_first_set)

set

In [263]:
my_first_set = {1,2,3,4,"five", 1, 2}

In [ ]:
my_second_set = {1,2}

TypeError: unhashable type: 'dict'

hashable --> immutable --> cannot be modified after creation <br>
unhashable --> mutable --> can be modified after creation

Hash(object1) --> hash value1 [unique for each object]<br>
Hash(object2) --> hash value2<br>
<code>
if object1 != object2:<br>
    hash value1 != hash value2<br>
if object1 == object2:<br>
    hash value1 = hash value2<br>
</code><br>
<br>
Objects can be of varying sizes<br>
because of this, larger objects will take some time to compare<br>
<br>
Properties of Hash value:<br>
<ul>
    <li> Hash values are unique. hash of one object will be always different than hash value of another object</li>
    <li> Hash value will be of fixed length. eg. 12 hexadecimal characters long (MD5 algorithm)</li>
    <li> The hash calculation is non-invertible. you can't get object value from the hash value</li>
</ul>

In [264]:
type(my_first_set)

set

In [265]:
my_first_set

{1, 2, 3, 4, 'five'}

In [266]:
my_first_set.add("six")

In [277]:
my_first_set

{1, 2, 3, 4, 5, 'five', 'six'}

In [274]:
id(my_first_set)

2508730087936

In [275]:
my_first_set.add(5)

In [276]:
id(my_first_set)

2508730087936

In [278]:
my_second_set = {1, 2, 3, 4, 5, 'five', 'six'}

In [279]:
id(my_second_set)

2508738856992

In [285]:
tuple1 = (1,2,3,4)

In [284]:
tuple2 = (1,2,3,4)

In [288]:
tuple1 == tuple2

True

In [293]:
len(str(hash(tuple1)))

18

In [292]:
len(str(hash(tuple2)))

18

In [291]:
tuple3 = (9,34,5)
len(str(hash(tuple3)))

20

In [294]:
print(id(tuple1))
print(id(tuple2))

2508739148864
2508739149104

In [295]:
my_second_set

{1, 2, 3, 4, 5, 'five', 'six'}

In [308]:
my_first_set = {1, 2, 3, 4, 5}

In [298]:
my_first_set.difference(my_second_set)

set()

In [299]:
my_second_set.difference(my_first_set)

{'five', 'six'}

In [306]:
my_first_set.difference_update({1, 2})

In [309]:
my_first_set.discard(5)

In [310]:
my_first_set

{1, 2, 3, 4}

In [311]:
my_first_set.discard(5)

In [312]:
my_first_set

{1, 2, 3, 4}

In [314]:
my_first_set.remove(4)

In [315]:
my_first_set

{1, 2, 3}

In [316]:
my_first_set = {1, 2, 3, 4, 5}

In [317]:
my_first_set.intersection(my_second_set)

{1, 2, 3, 4, 5}

In [318]:
my_first_set.intersection_update(my_second_set)

In [320]:
my_first_set.isdisjoint(my_second_set)

False

In [321]:
my_first_set.issubset(my_second_set)

True

In [323]:
my_second_set.issuperset(my_first_set)

True

In [ ]:
# removes some arbitary element from set
my_first_set.pop()

In [327]:
my_first_set.symmetric_difference(my_second_set)

{6, 7, 'five', 'six'}

In [325]:
my_first_set.update({6,7})

In [328]:
my_first_set.union(my_second_set)

{1, 2, 3, 4, 5, 6, 7, 'five', 'six'}

In [333]:
fr_my_first_set = frozenset({1,2,3,4,5})
fr_my_second_set = frozenset({1,2,3,"four","five"})

In [335]:
fr_my_first_set.union(my_second_set)

frozenset({1, 2, 3, 4, 5, 'five', 'six'})

# Nonetype

In python None is reference to something void or empty. It is defined by <code>None</code>

In [337]:
if fr_my_first_set is None:
    print("it is none type")

In [338]:
def is_mobile_number(input_field):
    if not input_field or not isinstance(input_field, str):
        return None
    input_field = input_field.strip()
    if input_field[3:].isdecimal() and len(input_field[3:]) == 10 and input_field.startswith('+91'):
        return "valid number"
    else:
        return "invalid number"

In [339]:
is_mobile_number("+91739427492")

'invalid number'

In [340]:
is_mobile_number("+917394274923")

'valid number'

In [346]:
# inp = input()
answer = is_mobile_number(1234)
if answer is None:
    print("invalid input provided")
else:
    print(answer)

invalid input provided

In [347]:
print(print("this is first print"))

this is first print
None

In [349]:
_var1 = 1
firstname_ = 1
middle_name = 1
last_name = 1

In [351]:
point0 = 1
p0oint = 2

In [353]:
xp = 2

In [362]:
b_literal = b'AF'

In [364]:
int(b_literal,base=16)

175

In [373]:
example_string = "this is an example string having a (\\) backslash\
    and having (\') single quote symbol\
    and having (\") double quote symbol"

In [374]:
print(example_string)

this is an example string having a (\) backslash    and having (') single quote symbol    and having (") double quote symbol

In [376]:
example_string1 = "This is a (\a) bell symbol"
print(example_string1)

This is a () bell symbol

In [377]:
example_string2 = "This is a (\b) backspace symbol"

In [380]:
example_string3 = "This is a (\n) new line symbol"
print(example_string3)

This is a (
) new line symbol

In [381]:
example_string4 = "This is a (\r) carriage return symbol"
print(example_string4)

) carriage return symbol

In [383]:
example_string4.find("This")

0

In [385]:
example_string5 = "The value is:\t12345\n\vThe next value is:\t67890"
print(example_string5)

The value is:	12345
The next value is:	67890

In [398]:
hex_num = "\u03BB = 3.0"
print(hex_num)

λ = 3.0

In [7]:
x = chr(33)
x

'!'

In [11]:
X = ord('A')
bin_value = bin(X)
int_value = int(bin_value, base=2)
int_value

65

# Python Data Types Quiz

1. **Which of the following is NOT a built-in numeric type in Python?**  
    a. `int`  
    b. `float`  
    c. `complex`  
    d. `char`  
    Answer: d

2. **What does the `append()` method do to a list?**  
    a. Adds an element to the end of the list  
    b. Adds an element to the beginning of the list  
    c. Removes an element from the list  
    d. Sorts the list  
    Answer: a

3. **Which of these list methods modifies the original list in-place?**  
    a. `copy()`  
    b. `index()`  
    c. `sort()`  
    d. `count()`  
    Answer: c

4. **Tuples are...**  
    a. Mutable  
    b. Immutable  
    c. Ordered  
    d. Both Immutable and Ordered  
    Answer: d


5. **Which of the following is NOT a valid tuple method?**  
    a. `count()`  
    b. `index()`  
    c. `append()`  
    d. `__len__()`  
    Answer: c

6. **What does the `strip()` method do to a string?**  
    a. Removes leading and trailing whitespace  
    b. Converts the string to uppercase  
    c. Converts the string to lowercase  
    d. Replaces a substring  
    Answer: a

7. **Which string method is used to find the index of a substring?**  
    a. `find()`  
    b. `index()`  
    c. `count()`  
    d. `replace()`  
    Answer: a and b

8. **What does the `get()` method do in a dictionary?**  
    a. Returns the value associated with a key, or a default value if the key is not found  
    b. Adds a new key-value pair  
    c. Removes a key-value pair  
    d. Returns all keys in the dictionary  
    Answer: a

9. **Which dictionary method returns a view object that displays a list of a dictionary's keys?**  
    a. `keys()`  
    b. `values()`  
    c. `items()`  
    d. `get()`  
    Answer: a

10. **Dictionaries in Python are...**  
    a. Ordered (from Python 3.7+)  
    b. Unordered  
    c. Indexed by integers  
    d. Immutable  
    Answer: a

11. **Sets in Python are...**  
    a. Ordered  
    b. Unordered  
    c. Mutable  
    d. Both Unordered and Mutable  
    Answer: d

12. **Which set method adds an element to the set?**  
    a. `add()`  
    b. `update()`  
    c. `union()`  
    d. `intersection()`  
    Answer: a

13. **What does the `difference()` method do to sets?**  
    a. Returns the elements that are in the first set but not the second  
    b. Returns the common elements between two sets  
    c. Returns all elements from both sets  
    d. Removes an element from a set  
    Answer: a

14. **Which method removes an arbitrary element from a set?**  
    a. `remove()`  
    b. `discard()`  
    c. `pop()`  
    d. `clear()`  
    Answer: c

15. **Which method returns a shallow copy of a list?**  
    a. `copy()`  
    b. `deepcopy()`  
    c. `list()`  
    d. `[:]`  
    Answer: a and d

16. **What is the primary difference between `remove()` and `discard()` for sets?**  
    a. `remove()` raises an error if the element is not found, `discard()` does not  
    b. `discard()` raises an error if the element is not found, `remove()` does not  
    c. They do the same thing  
    d. They are used for lists, not sets  
    Answer: a

17. **Which string method checks if a string starts with a specified prefix?**  
    a. `startswith()`  
    b. `endswith()`  
    c. `find()`  
    d. `index()`  
    Answer: a

18. **What does the `update()` method do for dictionaries?**  
    a. Adds multiple key-value pairs from another dictionary or iterable  
    b. Adds a single key-value pair  
    c. Removes a key-value pair  
    d. Merges two dictionaries into a new one  
    Answer: d

19. **Which of these is the correct way to create an empty set?**  
    a. `{}`  
    b. `set()`  
    c. `[]`  
    d. `()`  
    Answer: b

20. **What is the result of `type([1, 2, 3])`?**  
    a. `list`  
    b. `tuple`  
    c. `set`  
    d. `array`  
    Answer: a

In [17]:
new_list = [1,2,3,4,5]

In [18]:
new_list1 = new_list.copy()

In [19]:
new_list1

[1, 2, 3, 4, 5]

In [21]:
new_list.pop()

5

In [22]:
print(new_list)
print(new_list1)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [23]:
new_list2 = new_list1[:]

In [28]:
new_list2

[1, 2, 3, 4, 5]

In [26]:
new_list1.pop()

5

In [27]:
new_list1

[1, 2, 3, 4]

In [29]:
new_dict = {1: 'one', 2: 'two'}

In [30]:
new_dict.update({3: 'three', 4: 'four'})

In [31]:
new_dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [35]:
new_set = set()
type(new_set)

set

In [43]:
u_code = '\u0930'+'\u093F'+'\u092F'+'\u093E'
print(u_code)

रिया

# Operators

In [44]:
# + operator
sum_ = 134 + 937

In [45]:
sum_

1071

In [46]:
# concatenation

con_str = 'python'+' '+ 'basics'

In [48]:
con_str

'python basics'

In [49]:
10/3

3.3333333333333335

In [50]:
12/3

4.0

In [51]:
22/7

3.142857142857143

In [52]:
10//3

3

In [53]:
22//7

3

In [54]:
import math
s_2 = math.sqrt(2)
s_2

1.4142135623730951

In [56]:
10%3

1

In [58]:
(10 + 300)%12

10

In [59]:
234%3

0

In [61]:
4%3

1

In [65]:
# 5 dices. possible outcomes
6**5

7776

In [66]:
10/3 == 3.33

False

In [67]:
3.33 == 3.33

True

In [68]:
10/3 == 10/3

True

In [69]:
10/3 != 3.33

True

In [70]:
10/3 > 3.33

True

In [71]:
10/3 < 3.33

False

In [72]:
x = 'Python'
x += ' Basics'
x

'Python Basics'

In [ ]:
#  101101
# +010010
# --------
#  111111

In [76]:
b_sum = int(b'101101',2) + int(b'010010',2)
bin(b_sum)

'0b111111'

In [77]:
int(b'101101',2)

45

In [78]:
int(b'010010',2)

18

In [80]:
bin(45^18)

'0b111111'

In [ ]:
# OR operation
# 1 | 0 = 1
# 0 | 1 = 1
# 0 | 0 = 0
# 1 | 1 = 1

# XOR operation
# 1 ^ 0 = 1
# 0 ^ 1 = 1
# 0 ^ 0 = 0
# 1 ^ 1 = 0

In [ ]:
# AND
#  101101 (45)
# .010010 (18)
# --------
#  000000

In [81]:
bin(45&18)

'0b0'

In [83]:
bin(45 | 18)

'0b111111'

In [84]:
sunny = True
temp_high = False

weather_good = sunny and not temp_high
weather_good

True

In [86]:
bool(1 and 0)

False

In [93]:
0 and 2

0

In [96]:
'' and 'Yes'

''

In [100]:
#  101101 (45)
#  left to right shift once
#  010110 (22)
x = 45 >> 1
bin(x)

'0b10110'

In [ ]:
#  0000000101101 (45)
#  right to left shift once
#  0000001011010 (90)

In [101]:
x = 45 << 1
bin(x)

'0b1011010'

In [107]:
2 << (10-1)

1024

In [106]:
2 ** 10

1024

In [110]:
x = False
not x

True

In [116]:
~ int('0b101101', 2)

-46

In [117]:
l1 = [1,4,2,56,7,0]
item = 7
if item in l1:
    print('item is part of the list')
if item not in l1:
    print('item is NOT part of the list')

item is part of the list

In [119]:
str1 = 'python programming'
'python  ' in str1

False

In [120]:
a = '1234'
b = '1'
a is b

False

In [121]:
a = '1234'
b = '1234'
a is b

True

In [122]:
0 is 0.0

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\mnknt\AppData\Local\Temp\ipykernel_45696\3964195525.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  0 is 0.0

False

In [123]:
0 == 0.0

True

In [124]:
a = 10
b = a

a is b

True

In [125]:
(10 == 9) and (10 != 10)

False

In [133]:
inp = input("provide input:")
type(inp)

str

In [135]:
# x = int(inp)
print(type(inp))

<class 'str'>

In [136]:
a = 10
b = 20
c = 30

In [144]:
print(a,b,c, sep=',', end=' ')
print(b)
print(c)

10,20,30 20
30

# Flow control

In [145]:
# if conditional statement
l1 = [1,4,2,56,7,0]
item = 7
if item in l1 and type(item) is int:
    print('item is part of the list')

item is part of the list

In [147]:
if 'star':
    print('this is star')

this is star

In [146]:
bool('star')

True

In [153]:
if '\n':
    print('this is 0')

this is 0

In [151]:
bool(-1)

True

In [156]:
# if else statement

weather = 'Normal'

if weather == 'Good':
    print('good weather \u26C5')
else:
    print('Not good weather')

Not good weather

In [163]:
# if else statement
import random

outcome = random.choice(['Sunny','Overcast','cloudy','Clear'])
humidity = random.randint(0,100)

print(f"Outcome type is:{outcome}")
print(f"Humidity is:{humidity}")

if outcome == 'Clear' and humidity > 50 and humidity < 80:
    print('good weather \u26C5')
elif outcome == 'cloudy' and humidity > 30 and humidity < 85:
    print('Normal weather')
elif outcome == 'Overcast' and humidity > 85:
    print('Rainy weather')
elif outcome == 'Sunny' and humidity < 30:
    print('Dry weather')
else:
    print('Strange weather')
print("end of weather forcast")

Outcome type is:Sunny
Humidity is:19
Dry weather
end of weather forcast

In [178]:
# Nested if statement
inp = input()
print(f"input provided by the user is {inp}")

# check wether the input is of type number
if inp.isnumeric():
    print("it is a number")
elif '.' in inp:
    t_inp = inp.replace('.','',1)
    t_inp = t_inp.replace('-','',1)
    if t_inp.isnumeric():
        print('it is a fractional number')
    else:
        print("it is not a number")
else:
    print("it is not a number")

input provided by the user is 8382092.92929210.03930
it is not a number

In [189]:
# if else statement
import random

outcome = random.choice(['Sunny','Overcast','cloudy','Clear','Undecidable'])
humidity = random.randint(0,100)

print(f"Outcome type is:{outcome}")
print(f"Humidity is:{humidity}")

match outcome:
    case 'Clear':
        if humidity > 50 and humidity < 80:
            print('good weather \u26C5')
        else:
            print('Strange weather')
    case 'cloudy':
        if humidity > 30 and humidity < 85:
            print('Normal weather')
        else:
            print('Strange weather')
    case 'Overcast':
        if humidity > 85:
            print('Rainy weather')
        else:
            print('Strange weather')
    case 'Sunny':
        if humidity < 30:
            print('Dry weather')
        else:
            print('Strange weather')
    case _:
        print('Strange weather')
print("end of weather forcast")

Outcome type is:Undecidable
Humidity is:60
Strange weather
end of weather forcast

# LOOPS

In [ ]:
# While loop

while condition1 :
    statement1
    statement2
    statement3
statement 4
statement 5

In [193]:
# print all the integers upto n starting from 0

n = input("Enter a number to print all the integers starting from 0 to this number")
n = int(n)

i = 0
while i <= n:
    if i<n:
        print(i, end=',')
    else:
        print(i)
    i += 1

0,1,2,3,4,5,6,7,8,9,10,11,12

In [194]:
# print all the integers upto n starting from 0

n = input("Enter a number to print all the integers starting from 0 to this number")
n = int(n)

i = 0
while True:
    if i<n:
        print(i, end=',')
    else:
        print(i)
    i += 1
    if i>n:
        break

0,1,2,3,4,5,6,7,8,9,10,11,12

In [201]:
# print all the odd integers upto n starting from 0

n = input("Enter a number to print all the odd integers starting from 0 to this number")
n = int(n)

i = 0
while i <= n:
    if i % 2 == 1:
        if i < n and i+1 < n:
            print(i, end=',')
        else:
            print(i)
    i += 1

1,3,5,7,9,11,13

In [204]:
# print all the fibonacci numbers till N
# f(n) = f(n-1) + f(n-2)
# eg.: 0,1,1,2,3,5,8,13,21,34........

N = input("Enter the value of N")
N = int(N)

i = 0
j = 1
while i < N:
    print(i, end=',')
    k = i
    i = j
    j = k + j

0,1,1,2,3,5,8,13,21,

In [207]:
# For loop

# print all the vowels in the string provided as input from user

Sentence = input("Enter a string value")

vowel_list = ['a', 'e', 'i', 'o', 'u']

for char in Sentence:
    if char.lower() in vowel_list:
        print(char, end=',')

I,I,A,A,E,I,

In [211]:
# For loop

# print all the unique vowels as lowercase in the string provided as input from user

Sentence = input("Enter a string value")

vowel_list = ['a', 'e', 'i', 'o', 'u']

results = set()

for char in Sentence:
    if char.lower() in vowel_list:
        results.add(char.lower())
        # print(char, end=',')
print(','.join(results))

i,a,e

In [214]:
# print the string having maximum length in a list
# if you have more than one string with maximum length, print the one appearing first
# sample input ['This', 'is', 'a', 'sample', 'string']
# sample output: sample

list_strings = input("Enter the strings seperated by comma")
list_strings = list_strings.split(',')

# print(list_strings)
max_len = 0
max_len_str = ''
for str_ in list_strings:
    if len(str_) > max_len:
        max_len = len(str_)
        max_len_str = str_
print(max_len_str)

sample

In [215]:
# print the string having maximum length in a list
# if you have more than one string with maximum length, print the one appearing last
# sample input ['This', 'is', 'a', 'sample', 'string']
# sample output: string

list_strings = input("Enter the strings seperated by comma")
list_strings = list_strings.split(',')

# print(list_strings)
max_len = 0
max_len_str = ''
for str_ in list_strings:
    if len(str_) >= max_len:
        max_len = len(str_)
        max_len_str = str_
print(max_len_str)

string

In [216]:
# print the string having maximum number of vowels in a list of strings
# if you have more than one string with maximum number of vowels, print the one appearing first
# sample input ['This', 'is', 'a', 'sample', 'string']
# sample output: sample

list_strings = input("Enter the strings seperated by comma")
list_strings = list_strings.split(',')

max_num_vow = 0
max_num_vow_str = ''
vowel_list = ['a', 'e', 'i', 'o', 'u']

for str_ in list_strings:
    c = 0
    for char in str_:
        if char.lower() in vowel_list:
            c += 1
    if c > max_num_vow:
        max_num_vow = c
        max_num_vow_str = str_

# print(max_num_vow)
print(max_num_vow_str)

2
sample

### For a given input as N print the pattern in following way:
for example for N=3, the pattern looks like:

In [ ]:
#     1  
#   1 2 1  
# 1 2 3 2 1

In [225]:
N = int(input())

for i in range(N):  # loop1 or master loop
    # triangle 1
    for j in range(N-i-1):
        print(" ", end='')
    # # triangle 2
    # for k in range(i+1):
    #     print(k+1, end='')
    # # triangle 3
    # for l in range(i,0,-1):  
    #     print(l, end='')
    print(int('1'*(i+1))**2)
    # print()

        1
       121
      12321
     1234321
    123454321
   12345654321
  1234567654321
 123456787654321
12345678987654321

In [232]:
def max_of_2_numbers(x,y):
    return lambda x,y: x if x>y else y

In [234]:
f = max_of_2_numbers(2,3)

In [235]:
f(2,3)

3

https://www.hackerrank.com/challenges/most-commons/problem?isFullScreen=true

## Data types problems
- https://www.hackerrank.com/challenges/python-lists/problem?isFullScreen=true
- https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/problem?isFullScreen=true
- https://www.hackerrank.com/challenges/nested-list/problem?isFullScreen=true
- https://www.hackerrank.com/challenges/python-tuples/problem?isFullScreen=true
- https://www.hackerrank.com/challenges/py-check-strict-superset/problem?isFullScreen=true
- https://www.hackerrank.com/challenges/python-string-split-and-join/problem?isFullScreen=true
- https://www.hackerrank.com/challenges/finding-the-percentage/problem?isFullScreen=true
- https://www.w3resource.com/python-exercises/python-data-types.php#google_vignette

In [237]:
# Factorial of a number
# N! = N * N-1 * N-2 * N-3 * ....... * 3 * 2 * 1
# 5! = 5 * 4 * 3 * 2 * 1 = 120
# 3! = 3 * 2 * 1 = 6

inp = int(input("Enter a number to calculate factorial"))
inp1 = inp

fact = 1

while inp > 0:
    fact *= inp
    inp -= 1

print(f"Factorial of {inp1} is {fact}")

Factorial of 5 is 120

In [238]:
inp = int(input("Enter a number to calculate factorial"))

fact = 1
for i in range(inp,1,-1):
    fact *= i

print(f"Factorial of {inp} is {fact}")

Factorial of 5 is 120

In [271]:
# Write a Python program to print the alphabet pattern 'A'.
# Expected Output:

#   ***                                                                   
#  *   *                                                                  
#  *   *                                                                  
#  *****                                                                  
#  *   *                                                                  
#  *   *                                                                  
#  *   *

size = int(input())
for i in range(size+2):
    if i==0: # to print the first line
        astrix = "*" * (size-2)
        print(" "+astrix+" ")
    elif i == (size+1)//2: # to print middle line
        print("*"*size)
    else: # to print all other lines
        spaces = " "*(size-2)
        print("*"+spaces+"*")

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [ ]:
# Write a Python program to count the number of characters (character frequency) in a string.

# taking input from user and storing the string in inp
inp = input()

# create a dictionary to store count of each character
count_dict = {}

for char in inp: # go through each character in the user input inp
    if char in count_dict: # if character is stored in dictionary then increase the count by one
        count_dict[char] = count_dict[char] + 1
    else: # if the character is not stored in the dictionary then store it and assign the count as one
        count_dict[char] = 1

# sort the counts alphabetically
count_dict = dict(sorted(count_dict.items()))
# print count of all the characters.
print(inp)
for char, count in count_dict.items():
    print(f"'{char}' occurs {count} times.")

{' ': 9, 'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 3, 'f': 1, 'g': 2, 'h': 3, 'i': 2, 'j': 1, 'k': 1, 'l': 1, 'm': 1, 'n': 1, 'o': 4, 'p': 1, 'q': 1, 'r': 3, 's': 1, 't': 3, 'u': 2, 'v': 1, 'w': 1, 'x': 1, 'y': 1, 'z': 1}
the quick brown fox jumps right over the lazy dog
' ' occurs 9 times.
'a' occurs 1 times.
'b' occurs 1 times.
'c' occurs 1 times.
'd' occurs 1 times.
'e' occurs 3 times.
'f' occurs 1 times.
'g' occurs 2 times.
'h' occurs 3 times.
'i' occurs 2 times.
'j' occurs 1 times.
'k' occurs 1 times.
'l' occurs 1 times.
'm' occurs 1 times.
'n' occurs 1 times.
'o' occurs 4 times.
'p' occurs 1 times.
'q' occurs 1 times.
'r' occurs 3 times.
's' occurs 1 times.
't' occurs 3 times.
'u' occurs 2 times.
'v' occurs 1 times.
'w' occurs 1 times.
'x' occurs 1 times.
'y' occurs 1 times.
'z' occurs 1 times.

In [284]:
# Write a Python program that accepts a sequence of comma separated 4 digit binary numbers as its input. The program will print the numbers that are divisible by 5 in a comma separated sequence.
# Sample Data : 0100 (4), 0011 (3), 1010 (10), 1001 (9), 1100 (12), 1001 (9), 1111 (15), 
# 0100,0011,1010,1001,1100,1001,1111,110010
# Expected Output : 1010

inp_bin = input()
bin_list = inp_bin.split(',')
print(bin_list)

print("The binary number(s) divisible by 5 is/are: ")
for bin_num in bin_list:
    if int(bin_num, 2)%5 == 0:
        print(bin_num, end=' ')

['0100', '0011', '1010', '1001', '1100', '1001', '1111', '110010']
The binary number(s) divisible by 5 is/are:
1010 1111 110010

In [290]:
# Write a Python program to get the Fibonacci series between 0 and 50.
# Note : The Fibonacci Sequence is the series of numbers :
# 0, 1, 1, 2, 3, 5, 8, 13, 21, ....
# Every next number is found by adding up the two numbers before it.
# Expected Output : 1 1 2 3 5 8 13 21 34

# iterative method (using loops)

prev = 0
curr = 1

# prev, curr, next

while curr < 50: # check if curr is less than 50, if not, exit out of the loop
    print(curr, end=' ') # print the curr value
    next = prev + curr # next value is updated as prev + curr
    prev = curr # previous value is updated to the current value
    curr = next # current value is updated to the next value.

1 1 2 3 5 8 13 21 34

In [291]:
# iterative method (using for loop)

prev = 0
curr = 1

# prev, curr, next

for _ in range(50):
    if (curr > 50):
        break
    print(curr, end=' ') # print the curr value
    next = prev + curr # next value is updated as prev + curr
    prev = curr # previous value is updated to the current value
    curr = next # current value is updated to the next value.

1 1 2 3 5 8 13 21 34

In [302]:
# recursion method (using recursive function)

def fibonacci(n):
    if n == 0: # base case
        return 0
    if n == 1 or n == 2: # base case
        return 1
    return fibonacci(n-2)+ fibonacci(n-1) # recursive step

for i in range(50):
    seq_element = fibonacci(i)
    if seq_element > 50:
        break
    print(seq_element, end=' ')

0 1 1 2 3 5 8 13 21 34

In [303]:
fibonacci(4)

3

In [305]:
import sys 
sys.getrecursionlimit()

3000

In [ ]:
# write a program to get the maximum of all numbers in a given list

inp = input() # take input from user

num_list = [] # creat a empty list

# iterate over all the space separated numbers in string format

# # using for loop
# for num_str in inp.split(): 
#     num_list.append(int(num_str)) # store the numbers in the list in integer format

# map method
# num_list = list(map(int, inp.split()))

# # list comprehension
num_list = [int(x) for x in inp.split()]



print(num_list)

# calculate maximum of all the elements from list
# using for loop
# max_value = num_list[0]
# for i in num_list:
#     if i > max_value:
#         max_value = i

# while loop
i = 0
max_value = num_list[0]
while i < len(num_list):
    if num_list[i] > max_value:
        max_value = num_list[i]
    i+=1
    
# using python's inbuilt method
# max_value = max(num_list)

print(f"Maximum value in the list is: {max_value}")

[12, 35, 83, 65, 2, 7, 52, 84, 91, 72]
Maximum value in the list is: 91

In [ ]:
12,35,83,65,2,7,52,84,91,72

In [318]:
# Write a python program to implement a sum function

inp = input() # take input from user

sum_int = 0
num_list = [ int(x) for x in inp.split(',')]

for x in num_list:
    sum_int += x

print(f"sum of all the numbers in the list is:{sum_int}")

sum of all the numbers in the list is:503

In [323]:
# sorting of a list of numbers

# Bubble sort

inp = input() # take input from user

sum_int = 0
num_list = [ int(x) for x in inp.split(',')]


for i in range(len(num_list)):
    pass_occured = False
    for j in range(len(num_list)-1):
        if num_list[j] > num_list[j+1]:
            temp = num_list[j]
            num_list[j] = num_list[j+1]
            num_list[j+1] = temp
            pass_occured = True
    if not pass_occured:
        break

print(num_list)

[2, 7, 12, 35, 52, 65, 72, 83, 84, 91]

In [ ]:
# Function

def function_name(<optional>, <positional args>, <keyword arguments>):
    # statement 1
    # statement 2
    # statement 3
    #  .
    #  .
    #  .
    return statement<optional>

# Function after 3.5

def function_name(<optional>, <positional args>, <keyword arguments>) -> int:
    # statement 1
    # statement 2
    # statement 3
    #  .
    #  .
    #  .
    return statement<optional>

# Function

def function_name(<optional>, <positional args> : <datatype>, <keyword arguments>):
    # statement 1
    # statement 2
    # statement 3
    #  .
    #  .
    #  .
    return statement<optional>

In [7]:
# Function for finding out leap year

def find_leap_year(year:int) -> bool:
    if year%4 == 0:
        if year%100 ==0:
            if year%400 ==0:
                return True
            return False
        return True
    return False
    
print(find_leap_year(1700))
print(find_leap_year(2000))
print(find_leap_year(2024))
print(find_leap_year(2100))

False
True
True
False

In [11]:
# Zeller's Congruence
import math

def zellers_congruence(q:int, m:int, year:int)->str:
    """
    This function takes three values as input: day, month, year 
    and outputs the day of the week (SUN,MON,TUE,WED,THU,FRI,SAT)
    
    Args:
        q (int): day of the month. value ranges between(1-31)
        m (int): month number. value ranges between(1-12)
        year (int): year number.
    Returns:
        str : The day of the week
    """
    if m<3:
        m= m+12
        year = year-1
    K = year%100
    J = math.floor(year/100)

    h = (q + ((13*(m+1))//5) + K + (K//4) + (J//4) - (2*J))%7

    day_of_week = ["SAT", "SUN", "MON", "TUE", "WED", "THU", "FRI"]

    return day_of_week[h]

print(zellers_congruence(1,2,2025))

SAT

In [ ]:
# I am running a script which opens a file and writes some lines to that file
# and after that it closes the file and program ends.

## Python generator

In [2]:
n =10
for i in range(n):
    print(i*i)

0
1
4
9
16
25
36
49
64
81

In [10]:
def gen_squares(n):

    # initialize counter
    value = 0

    # loop until counter is less than n
    while value < n:

        # produce the current value of the counter
        yield value*value

        # increment the counter
        value += 1

In [12]:
n = 100

# iterate over the generator object produced by my_generator
for value in gen_squares(n):

    # print each value produced by generator
    print(value)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

In [19]:
# context manager (with)

with open('test_file.txt', 'r') as f:
    out = f.read()
    print(out)

hello world

In [20]:
# write a program to filter out all the negative numbers in the list and provide it's position in the list

inp_list = [82,7,392,-8,0,83,-73, 823,65]

i = 0

for ele in inp_list:
    if ele<0:
        print(i)
    i+=1

3
6

In [21]:
for i,ele in enumerate(inp_list):
    if ele<0:
        print(i)

3
6

In [22]:
student_id = [123, 456, 789]
student_name = ['student1', 'student2', 'student3']

student_map = []
for i in range(len(student_id)):
    student_map.append([student_id[i], student_name[i]])

print(student_map)

[[123, 'student1'], [456, 'student2'], [789, 'student3']]

In [26]:
student_map1 = zip(student_id, student_name)

# for z_ele in student_map1:
#     print(z_ele)

print(list(student_map))

[[123, 'student1'], [456, 'student2'], [789, 'student3']]

In [27]:
print(*student_map1)

(123, 'student1') (456, 'student2') (789, 'student3')

In [31]:
student_add = ['add1', 'add2', 'add3']

student_map2 = zip(student_id, student_name, student_add)

print(list(student_map2))

[(123, 'student1', 'add1'), (456, 'student2', 'add2'), (789, 'student3', 'add3')]

In [32]:
student_id.pop()

789

In [37]:
student_map3 = zip(student_id, student_name, student_add, strict=True)
print(list(student_map3))

ValueError: zip() argument 2 is longer than argument 1

In [39]:
empty_list = []

if empty_list:
    print("list is not empty")

In [40]:
non_empty_list = ['d', 43, 98]

if 43 in non_empty_list:
    print("43 is in list")
else:
    print("43 is not in the list")

43 is in list

In [49]:
# program to divide two numbers

n1 = int(input())
n2 = int(input())
if n2 != 0:
    print(n1/n2)
else:
    print("Number cannot be divided by 0")

ValueError: invalid literal for int() with base 10: 'ksiw'

In [55]:
# program to divide two numbers

try:
    n1 = int(input())
    n2 = int(input())
    print(n1/n2)
except ZeroDivisionError as e:
    print("Error occurred while dividing by zero")
except ValueError as e:
    print("Invalid value provided as input")
except Exception as e:
    print("Unknown error occurred")
else:
    print("No error occured")
finally:
    print("The program has ended")

3.0
No error occured
The program has ended

In [56]:
# positional arguments
def func_divide(a,b):
    return a/b

func_divide(12,3)

4.0

In [57]:
# key word arguments
def func_divide(a,b):
    return a/b

func_divide(b=12,a=3)

0.25

In [59]:
# default arguments
def func_divide_half(a,b=2):
    return a/b

func_divide_half(12)

6.0

In [60]:
func_divide_half(12, 3)

4.0

In [62]:
# arbitary arguments
def sum_of_all(*args):
    s = 0
    for i in args:
        s+=i
    return s

sum_of_all(1,2,3,4,45,6)

61

In [65]:
# arbitary keywords arguments
def sum_of_all_vowels(**kwargs):
    s = 0
    for key, value in kwargs.items():
        if key in 'aeiou':
            s+=value
    return s

sum_of_all_vowels(a=1, b= 3, c=4, e = 5, d = 8)

6

In [2]:
def my_decorator(func):
    """A simple decorator that prints a message before and after the decorated function."""
    def wrapper(*args, **kwargs):
        print("Something is happening before the function is called.")
        result = func(*args, **kwargs)  # Call the original function
        print("Something is happening after the function is called.")
        return result
    return wrapper

@my_decorator
def say_hello(name):
    """A simple function to say hello."""
    print(f"Hello, {name}!")
    return f"Hello, {name}!"

@my_decorator
def add_numbers(a, b):
    """A function to add two numbers."""
    result = a + b
    print(f"{a} + {b} = {result}")
    return result

In [4]:
# Using the decorated functions
# say_hello("Alice")
add_numbers(5, 3)

Something is happening before the function is called.
5 + 3 = 8
Something is happening after the function is called.

8

In [9]:
from abc import ABC, abstractmethod

class Shape(ABC):  # Shape is an abstract base class
    """
    An abstract base class for shapes.
    """

    @abstractmethod
    def area(self):
        """
        Abstract method to calculate the area of a shape.
        Must be implemented by concrete subclasses.
        """
        pass

    @abstractmethod
    def perimeter(self):
        """
        Abstract method to calculate the perimeter of a shape.
        Must be implemented by concrete subclasses.
        """
        pass

    def description(self):
        """
        A concrete method that provides a general description.
        """
        return "This is a shape."

class Circle(Shape):  # Circle is a concrete subclass of Shape
    """
    Represents a circle.
    """

    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14159 * self.radius * self.radius

    def perimeter(self):
        return 2 * 3.14159 * self.radius

    def description(self):
        return f"This is a circle with radius {self.radius}."

class Rectangle(Shape):  # Rectangle is a concrete subclass of Shape
    """
    Represents a rectangle.
    """

    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 * (self.width + self.height)

    def description(self):
        return f"This is a rectangle with width {self.width} and height {self.height}."

In [10]:
# Usage
circle = Circle(5)
rectangle = Rectangle(4, 6)

print(circle.description())
print(f"Circle area: {circle.area()}")
print(f"Circle perimeter: {circle.perimeter()}")

print("-" * 20)

print(rectangle.description())
print(f"Rectangle area: {rectangle.area()}")
print(f"Rectangle perimeter: {rectangle.perimeter()}")

This is a circle with radius 5.
Circle area: 78.53975
Circle perimeter: 31.4159
--------------------
This is a shape.
Rectangle area: 24
Rectangle perimeter: 20

In [7]:
shape = Shape()

TypeError: Can't instantiate abstract class Shape without an implementation for abstract methods 'area', 'perimeter'

In [8]:
#Example of using a function that depends on the abstraction.
def print_shape_info(shape_object):
    print(shape_object.description())
    print(f"Area: {shape_object.area()}")
    print(f"Perimeter: {shape_object.perimeter()}")

print("-" * 20)

print_shape_info(circle)
print("-" * 20)
print_shape_info(rectangle)

--------------------
This is a circle with radius 5.
Area: 78.53975
Perimeter: 31.4159
--------------------
This is a rectangle with width 4 and height 6.
Area: 24
Perimeter: 20

# This is a sample addition to this file.